@import "normalize.scss";

html, body {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  color: #111;
  line-height: 1.5;
}
header, footer, nav, section, article, aside {
  display:block;
}
a {
  color: #4240a9;
  -webkit-transition: all .3s;
  transition: all .3s;
}
a:visited {
  color: #4240a9;
}
a:hover {
  color: #333;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/**
 * common rayout
 */
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #bd2929;
  background-image: linear-gradient(0deg, #9f1616, #bd2929);
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  padding: 0 10px;
  height: 60px;
  z-index: 100;
}
.container {
  margin-top: 60px;
}
.wrapper-inner {
  width: 92%;
  max-width: 1000px;
  margin: 40px auto 0;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main {
  width: 700px;
  width: calc(100% - 300px);
}
.main-inner {
  padding: 0 0 40px;
}
/**
 * グローバルナビ
 */
.site-title {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.site-title__text {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}
.site-title__text a {
  color: #fff;
  text-decoration: none;
}
.global-nav-wrap {
  position: absolute;
  top: 14px;
  right: 10px;
}
.global-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.global-nav__list .menu-item {
  padding: 0 8px;
}
.global-nav__list .menu-item a {
  color: #fff;
  text-decoration: none;
  font-size: .9rem;
}
/**
 * widget
 */
.widget__title {
  margin-top: 0;
}
.widget ul {
  list-style: none;
  padding: 0;
}
.widget ul li {
  margin-bottom: 8px;
}
/**
 * sidebar
 */
.sidebar {
  width: 280px;
}
.widget--sidebar {
  margin-bottom: 40px;
}
.widget__title--sidebar {
  text-align: center;
  padding: 6px 0;
  border-bottom: 2px solid #bd2929;
  font-size: 1.2rem;
}


.recommend-gym {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.recommend-gym a {
  color: #333;
  text-decoration: none;
}
.recommend-gym__thumb img {
  width: 100%;
}
.recommend-gym__title {
  font-size: 1rem;
  margin: 0 0 8px;
}
.recommend-gym__detail a {
  display: inline-block;
  background-color: #d05858;
  background-image: linear-gradient(0deg, #9f1616, #bd2929);
  padding: 8px 0;
  color: #fff;
  border-radius: 6px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  position: relative;
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.recommend-gym__detail a:hover {
  background-color: #ab3f3f;
  background-image: linear-gradient(0deg, #7b1111, #bd2f2f);
}
.recommend-gym__detail a:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  border-left: 8px solid rgba(255,255,255,.4);
}

.recommend-gym-list--footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recommend-gym--footer {
  width: 49%;
  .recommend-gym__detail a {
    font-size: .8rem;
  }
}

/**
 * 路線別ジム検索
 */
.search-line {
  padding-top: 70px;
  .search-line__title {
    margin-top: 0;
  }
}
.search-line__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.search-line__item {
  margin: 0 10px 8px 0;
  &--none {
    color: #ccc;
  }
}
/**
 * 検索ボックス
 */
.search-form input {
  -webkit-appearance: none;
  appearance: none;
}
.search-field {
  border: 2px solid #ccc;
  padding: 6px;
  display: block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 8px;
  font-size: 1rem;
}
.search-submit {
  width: 120px;
  height: 34px;
  color: #fff;
  background-color: #d05858;
  background-image: linear-gradient(0deg, #9f1616, #bd2929);
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
/**
 * footer
 */
.footer {
  background-color: #111;
  border-top: 2px solid #bd2929;
  color: #fff;
  padding: 20px 0;
}
.footer-inner {
  width: 92%;
  max-width: 1000px;
  margin: 0 auto;
}
.copyright__text {
  text-align: center;
  font-size: .8rem;
  margin-bottom: 0;
}


/** 
 * top-page
 */
.home-top {
  background-color: #040404;
  border-bottom: 2px solid #bd2929;
}
.home-top-inner {
  width: 92%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}
.home-top-box {
  width: 100%;
  max-width: 600px;
  background-color: rgba(0,0,0,.6);
  padding: 40px;
  color: #fff;
}
.home-top-box__title {
  font-size: 2rem;
  margin: 0 0 8px;
}
.home-top-box__desc {
  font-size: .9rem;
  margin: 0 0 40px;
}
.count-tenpo {
  font-size: 1.2rem;
  font-weight: bold;
}
.home-top-box__links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  background-image: linear-gradient(0deg, #9f1616, #bd2929);
  border-radius: 4px;
}
.home-top-box__links a:hover {
  opacity: .8;
}
.wrapper-inner--top {
  padding-top: 0;
}

/** 
 * top-page main
 */
.top-section {
  margin-bottom: 40px;
}
.top-section__heading {
  margin-top: 0;
  padding: 6px 0;
  border-bottom: 2px solid #111;
}
.area-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.area-nav__item {
  color: #333;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}
.area-nav-child__list {
  list-style: none;
  margin-top: 4px;
  border-top: 1px solid #eee;
  padding: 8px 0 0 18px;
}
.area-nav-child__list li {
  padding: 4px;
  display: inline-block;
  font-weight: normal;
}
.area-nav-child__list li:last-child {
  border-bottom: none;
}
.area-nav-child__list li a {
  color: #333;
}
/**
 * entries
 */
.entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.entries-article {
  width: 49%;
  margin-bottom: 20px;
}
.entries-article .entries-article__link {
  color: #111;
  text-decoration: none;
}

.entries-article__thumb {
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  background-position: center center;
  background-size: cover;
}
.entries-article__link:hover .entries-article__thumb{
  opacity: .6;
}
.entries-article__title {
  font-size: 1rem;
  font-weight: bold;
}
/* date */
.post-date {
  font-size: .8rem;
  color: #888;
  margin: 10px 0 20px;
}
.entry-time {
  margin-right: 20px;
}
/* pagination */
.pagination {
  text-align: center;
  margin: 20px 0;
}
.pagination ul {
  font-size: 0;
}
.page-numbers {
  list-style: none;
  padding: 0;
  display: inline-block;
}
.page-numbers li {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  height: 32px;
  line-height: 30px;
  margin-right: 4px;
}
.page-numbers li a {
  text-decoration: none;
  display: block;
  padding: 0 8px;
  background-color: #fff;
  color: #9f1616;
}
.page-numbers li .current {
  padding: 0 8px;
  background-color: #eee;
}

/* 記事 */
.wrapper-inner--article {
  padding-top: 40px;
}
.entry-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.breadcrumb {
  margin-bottom: 20px;
}
.breadcrumb__list {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: .8rem;
  margin: 0;
}
.breadcrumb__list li {
  font-size: .8rem;
  margin: 0 8px;
}
.breadcrumb__list li:first-child {
  margin-left: 0;
}
.breadcrumb__list li a {
  color: #666;
}
.entry-title {
  font-size: 1.8rem;
  margin: 0;
}
.entry-eyecache {
  margin-top: 20px;
}
.entry-eyecache img {
  width: 100%;
}
.entry-content {
  padding: 20px 0;
}
.entry-content h2 {
  margin: 50px 0 16px;
  font-size: 1.6rem;
  padding: .4em .6em;
  background-color: #f7f7f7;
  border-left: 10px solid #bd2929;
}
.entry-content .gym-content__title {
  margin-top: 0;
}
.entry-content h3 {
  padding: .4em .6em;
  background: #f0f0f0;
  margin: 46px 0 16px;
  font-size: 1.2rem;
}
.entry-content h4 {
  margin: 42px 0 16px;
  font-size: 1.1rem;
  padding-left: 14px;
  border-left: 6px solid #111;
}
.entry-content h4 {
  margin: 36px 0 16px;
}
.entry-content p {
  margin: 0 0 1em;
  color: #111;
}
.entry-content img {
  max-width: 100%;
}
.entry-content table {
  width: 100%;
  margin-bottom: 1.5em;
  border: 2px solid #eee;
}
.entry-content tr:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.entry-content th {
    padding: 7px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
}
.entry-content td {
    padding: 7px;
    border-right: 1px solid #eee;
}
.entry-content td:last-child {
    border-right: 0;
}

.entry-content dd {
    margin-bottom: 1.5em;
    margin-left: 0;
    color: #787878;
    font-size: .9em;
}
.entry-content dd {
    margin-bottom: 1.5em;
    margin-left: 0;
    color: #787878;
    font-size: .9em;
}
/* entry-bottom */
.near-studio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.near-studio a {
  color: #333;
}
.near-studio__item {
  width: 49%;
  margin-bottom: 20px;
}
.near-studio__thumb img {
  width: 100%;
  vertical-align: bottom;
}
.near-sudio__title {
  font-size: .9rem;
  margin: 4px 0;
}
.entry-footer h3 {
  padding: .8em .6em;
  background: #f0f0f0;
  font-size: 1.2rem;
}
/**
 * 前テーマから引き継ぎ
 */
.gym-content {
  padding: 30px;
  border: 1px solid #f0f0f0;
  border-bottom: 10px solid #f0f0f0;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  margin-bottom: 20px;
}
.gym-content__thumb {
  margin-bottom: 1em;
}
.entry-content .gym-content__link {
    position: relative;
    margin: 1.6em 0 1em;
    padding: 0.5em 1em;
    border: solid 3px #bbb;
}
.entry-content .gym-content__link:before {
    content: "LINK";
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #bbb;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.entry-content .gym-content__btn {
  text-align: center;
}
.entry-content .gym-content__btn a {
  display: inline-block;
  background-color: #d05858;
  background-image: linear-gradient(0deg, #af5718,#e87b2b);
  padding: 12px 34px 12px 20px;
  color: #fff;
  border-radius: 6px;
  font-size: 1.1rem;
  text-decoration: none;
  position: relative;
  min-width: 260px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.entry-content .gym-content__btn a:hover {
  background-color: #ab3f3f;
  background-image: linear-gradient(0deg, #9c4d15,#dc7225);
}
.gym-content__btn a:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  border-left: 8px solid rgba(255,255,255,.4);
}


.gym-content__desc-list dt {
  font-weight: bold;
  padding: 4px 4px 4px 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.gym-content__desc-list dd {
  color: #333;
  font-size: 1rem;
  padding-left: 2em;
}

/* ジム情報テーブル */
.gym-table-wrap {
  width: 100%;
  overflow-x: auto;
}
.gym-table {
  width: 100%;
}
.gym-table td {
  padding: 6px 4px;
  font-size: .9rem;
}
.gym-table .gym-table__td-1 {
  width: 7em;
  font-weight: bold;
  text-align: center;
  background-color: #f9f9f9;
}
/* 詳細へのリンクボタン */
.gym-content__detail {
  text-align: center;
}
.entry-content .gym-content__detail a {
  display: inline-block;
  background-color: #d05858;
  background-image: linear-gradient(0deg, #9f1616, #bd2929);
  padding: 12px 34px 12px 20px;
  color: #fff;
  border-radius: 6px;
  font-size: 1.1rem;
  text-decoration: none;
  position: relative;
  min-width: 260px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.entry-content .gym-content__detail a:hover {
  background-color: #ab3f3f;
  background-image: linear-gradient(0deg, #7b1111, #bd2f2f);
}
.gym-content__detail a:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  border-left: 8px solid rgba(255,255,255,.4);
}
/* 対応しているサービス */
.service__list {
  padding: 0;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.service__item {
  background-color: #fbf0d8;
  color: #50360d;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  margin: 0 6px 6px 0;
}
.service__item--osusume {
  color: #fff;
  background-color: #c02b21;
}
.service__item--woman {
  color: #75223d;
  background-color: #fbd8e3;
}
.service__item--woman-osusume {
  color: #75223d;
  background-color: #ffeff4;
}
/* 店舗一覧 */
.gym-region {
  margin-bottom: 40px;
}
.gym-region__list {
  list-style: none;
  padding: 0;
}
.gym-region__item {
  display: inline-block;
  margin: 0 10px 10px 0;
}
.gym-region__item a {
  color: #666;
}
/* シェアボタン */
.share-area {
  background-color: #f9f9f9;
  padding: 20px 16px;
}
.share-area__buttom {
  margin: 0 0 40px;
}
.share-buttons__text {
  text-align: center;
  font-size: .8rem;
  color: #666;
}
.share-btn__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.share-btn__item {
  display: inline-block;
  width: 32%;
  a {
    display: block;
    color: #fff;
    background-color: #666;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    &:hover {
      opacity: .8;
    }
  }
}
.share-btn__item--tw {
  a {
    background-color: #32A8F4;
  }
}
.share-btn__item--fb {
  a {
    background-color: #3B539A;
  }
}
.share-btn__item--hatebu {
  a {
    background-color: #00A3E2;
  }
}
@media (max-width: 600px) {
  .share-btn__item {
    font-size: .8rem;
  }
}

@media (max-width: 500px) {
  .share-btn__item {
    width: 100%;
    margin-bottom: 6px;
    font-size: 1rem;
    a {
      height: 40px;
      line-height: 40px;
    }
  }
}
/* クチコミ */
.comment-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.comment-form p,
.comment-form div {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}

.comment-form input[type='text'],
.comment-form textarea,
.comment-form select {
  border: 2px solid #ddd;
  background-color: #fff;
  color: #111;
  width: 100%;
  max-width: 500px;
  padding: 6px 4px;
  border-radius: 0;
  -webkit-appearance: none;
}
.comment-form select {
  height: 34px;
}
.comment-form label {
  display: block;
}
.form-submit .submit {
  width: 200px;
  height: 34px;
  color: #fff;
  background-color: #d05858;
  background-image: linear-gradient(0deg, #9f1616, #bd2929);
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}
.comment-form-star__text {
  margin-bottom: 2px;
}
.comment-notes {
  -webkit-order: 1;
  order: 1;
  display: none;
}
.comment-form-star {
  -webkit-order: 2;
  order: 2;
}
.comment-form-author {
  -webkit-order: 3;
  order: 3;
}
.comment-form-comment {
  -webkit-order: 4;
  order: 4;
}
.form-submit {
  -webkit-order: 10;
  order: 10;
}
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  padding:0 4px;
  color: gray;
  cursor: pointer;
  font-size: 32px;
  line-height: 1;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #eca41c;
}
.commentlist {
  list-style: none;
  padding: 0;
}
.commentlist .comment {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.comment .says {
  display: none;
}
.comment-author p {
  margin: 0 0 6px;
}
.author-name {
  font-weight: bold;
}
.author-sex {
  font-size: .9rem;
  color: #666;
}
.comment-meta a {
  color: #999;
  font-size: .8rem;
  text-decoration: none;
}
.comment .reply {
  display: none;
}
.author-star {
  color: #eca41c;
}
.star-num-1 span:nth-child(n+2){
  color: #eee;
}
.star-num-2 span:nth-child(n+3){
  color: #eee;
}
.star-num-3 span:nth-child(n+4){
  color: #eee;
}
.star-num-4 span:nth-child(n+5){
  color: #eee;
}
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #eca41c;
}
.star-rating-back {
  color: #ccc;
}
@media (max-width: 900px) {
  /* PC small */
  .main {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
  .global-nav-wrap {
    display: none;
  }
  .recommend-gym-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .recommend-gym {
    width: 49%;
  }
  .recommend-gym__detail a {
    font-size: .8rem;
  }
  .entry-footer .widget--recommend {
    display: none;
  }
}
@media (max-width: 768px) {
  /* tablet */
  .header {
    height: 50px;
  }
  .container {
    margin-top: 50px;
  }
  .site-title__text {
    font-size: 1.2rem;
  }
  .home-top-box__title {
    font-size: 1.1rem;
  }
  .entries-article__title {
    margin-top: 10px;
  }
  .entry-title {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .entry-content h2 {
    font-size: 1.4rem;
  }
  .recommend-gym__detail a:after {
    display: none;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 96%;
  }
  /* smartphone */
  .site-title__text {
    font-size: 1rem;
  }
  .home-top-box {
    padding: 20px;
  }
  .gym-content {
    padding: 16px;
  }
  .gym-table .gym-table__td-1 {
    font-size: .8rem;
  }
  .area-nav-child__list {
    padding: 10px 0 0 0;
  }
  .entries-article {
    width: 100%;
  }
  .recommend-gym {
    width: 100%;
  }
}