@import "normalize.scss";
@import "definition.scss";

html, body {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,San Fransisco,Segoe UI,Helvetica Neue,Helvetica,Arial,"游ゴシック Medium",Yu Gothic Medium,"游ゴシック体",YuGothic,Yu Gothic,"メイリオ",Meiryo,MS PGothic,sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f5f5f5;
}
header, footer, nav, section, article, aside {
  display:block;
}
a {
  color: #4240a9;
  -webkit-transition: all .3s;
  transition: all .3s;
}
a:visited {
  color: #4240a9;
}
a:hover {
  color: #333;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/**
 * common rayout
 */
.header {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 12px rgba(0,0,0,.1);
  height: 50px;
}
.header-inner {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.wrapper-inner {
  width: 96%;
  max-width: 1200px;
  margin: 40px auto 0;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main {
  width: calc(100% - 380px);
}
.main-inner {
  padding: 30px;
  background-color: #fff;
}
/**
 * グローバルナビ
 */
.site-title {
  position: absolute;
  left: 0;
  top: 13px;
}
.site-title__text {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
.site-title__text a {
  color: #333;
  text-decoration: none;
}
.global-nav-wrap {
  position: absolute;
  top: 13px;
  right: 0;
}
.global-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.global-nav__list .menu-item {
  
}
.global-nav__list .menu-item a {
  display: inline-block;
  padding: 0 8px 4px;
  color: #333;
  text-decoration: none;
  font-size: .9rem;
  font-weight: bold;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: all .3s;
  }
  &:hover {
    &:before {
      left: 0;
      width: 100%;
    }
  }
}
/**
 * widget
 */
.widget__title {
  margin-top: 0;
}
.widget ul {
  list-style: none;
  padding: 0;
}
.widget ul li {
  margin-bottom: 16px;
  line-height: 1.4;
  a {
    color: #666;
    text-decoration: none;
    &:hover {
      color: #999;
    }
  }
}
.widget--entry-top-ad,
.widget--entry-bottom-ad,
.inner-adsense {
  margin: 16px 0;
}
/**
 * sidebar
 */
.sidebar {
  width: 360px;
}
.widget {
  
  background-color: #fff;
}
.sidebar {
  .widget {
    padding: 30px;
  }
}
.widget--sidebar {
  margin-bottom: 20px;
  
}
.widget__title--sidebar {
  text-align: center;
  padding: 8px 0;
  background-color: #f5f5f5;
  border-bottom: 2px solid #ccc;
  font-size: 1.1rem;
}


.recommend-gym {
  margin-bottom: 40px;
}
.recommend-gym a {
  color: #333;
  text-decoration: none;
}
.recommend-gym__thumb img {
  width: 100%;
}
.recommend-gym__title {
  font-size: 1rem;
  margin: 0 0 8px;
}
.recommend-gym__detail a {
  display: inline-block;
  background-color: #d05858;
  background-image: $gradation;
  padding: 12px 0;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  position: relative;
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.recommend-gym__detail a:hover {
  background-color: #ab3f3f;
  background-image: $hover_gradation;
}
.recommend-gym__detail a:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -4px;
  border: 4px solid transparent;
  border-left: 5px solid rgba(255,255,255,.4);
}

.recommend-gym-list--footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recommend-gym--footer {
  width: 49%;
  .recommend-gym__detail a {
    font-size: .8rem;
  }
}

/**
 * 路線別ジム検索
 */
.search-line {
  padding-top: 70px;
  .search-line__title {
    margin-top: 0;
  }
}
.search-line__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.search-line__item {
  margin: 0 10px 8px 0;
  &--none {
    color: #ccc;
  }
}
/**
 * 検索ボックス
 */
.search-form input {
  -webkit-appearance: none;
  appearance: none;
}
.search-field {
  border: 2px solid #ccc;
  padding: 6px;
  display: block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 8px;
  font-size: 1rem;
}
.search-submit {
  width: 120px;
  height: 34px;
  color: #fff;
  background-color: #d05858;
  background-image: $gradation;
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.nav-footer {
  &-wrap {
    background-color: #eee;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 12px 0;
  }
  .menu-item {
    padding: 0 10px;
    border-right: 1px solid #ccc;
    font-size: .9rem;
    &:last-child {
      border-right: none;
    }
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        color: #999;
      }
    }
  }
}
/**
 * footer
 */
.footer {
  background-color: #111;
  border-top: 2px solid #d44545;
  color: #fff;
  padding: 40px 0;
}
.footer-inner {
  width: 92%;
  max-width: 1000px;
  margin: 0 auto;
}
.copyright__text {
  text-align: center;
  font-size: .8rem;
  margin: 0;
}


/** 
 * top-page
 */
.home-top {
  background-color: #b4b5b0;
  // background-image: linear-gradient(90deg, #040404 0%,#040404 60%, #101015 100%);
  // border-bottom: 2px solid #bd2929;
}
.home-top-inner {
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
}
.home-top-box {
  width: 100%;
  max-width: 600px;
  background-color: rgba(255,255,255,.8);
  padding: 40px;
  color: #333;
  margin-left: 16%;
}
.home-top-box__title {
  font-size: 1.4rem;
  margin: 0 0 8px;
}
.home-top-box__desc {
  font-size: .9rem;
  margin: 0 0 40px;
}
.count-tenpo {
  font-size: 1.2rem;
  font-weight: bold;
}
.home-top-box__links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  background-image: $gradation;
  border-radius: 4px;
}
.home-top-box__links a:hover {
  opacity: .8;
}
.link-search-detail {
  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 16px;
    height: 40px;
    line-height: 40px;
    background-image: $gradation;
    border-radius: 4px;
    &:hover {
      opacity: .8;
    }
  }
}
/** 
 * top-page main
 */
.widget--toppage-upper {
  padding: 30px;
  margin-bottom: 20px;
  img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
}
.top-section {
  margin-bottom: 40px;
}
.top-section__heading {
  margin-top: 0;
  padding: 6px 0;
  border-bottom: 2px solid #ddd;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 200px;
    height: 2px;
    background-color: #111;
  }
}
.area-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.area-nav__item {
  color: #333;
  padding: 10px;
  border-bottom: 2px solid #eee;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  font-weight: bold;
}
.area-nav-child__list {
  list-style: none;
  margin-top: 4px;
  border-top: 1px solid #eee;
  padding: 8px 0 0 12px;
  li {
    padding: 4px 4px 6px;
    display: inline-block;
    font-weight: normal;
    &:last-child {
      border-bottom: none;
    }
    a {
      color: #333;
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 1px solid #e0e0e0;
      &:hover {
        color: #999;
      }
    }
  }
  &--post {
    border: none;
    padding-left: 0;
    li {
      padding: 0;
      margin: 0 8px 8px 0;
      a {
        color: #4240a9;
        &:hover {
          color: #666;
        }
      }
    }
  }
}
/**
 * entries
 */
.entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.entries-article {
  width: 48.6%;
  margin-bottom: 40px;
}
.entries-article .entries-article__link {
  color: #333;
  text-decoration: none;
}

.entries-article__thumb {
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  background-position: center center;
  background-size: cover;
}
.entries-article__link:hover .entries-article__thumb{
  opacity: .6;
}
.entries-article__title {
  font-size: 1rem;
  font-weight: bold;
}
/* date */
.post-date {
  font-size: .8rem;
  color: #888;
  margin: 10px 0 20px;
}
.entry-time {
  margin-right: 20px;
}
/* pagination */
.pagination {
  text-align: center;
  margin: 20px 0;
}
.pagination ul {
  font-size: 0;
}
.page-numbers {
  list-style: none;
  padding: 0;
  display: inline-block;
}
.page-numbers li {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  height: 32px;
  line-height: 30px;
  margin-right: 4px;
}
.page-numbers li a {
  text-decoration: none;
  display: block;
  padding: 0 8px;
  background-color: #fff;
  color: #9f1616;
}
.page-numbers li .current {
  padding: 0 8px;
  background-color: #eee;
}

/* 記事 */
.entry-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.breadcrumb {
  margin-bottom: 20px;
}
.breadcrumb__list {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: .8rem;
  margin: 0;
}
.breadcrumb__list li {
  font-size: .8rem;
  margin: 0 8px;
}
.breadcrumb__list li:first-child {
  margin-left: 0;
}
.breadcrumb__list li a {
  color: #666;
}
.entry-title {
  font-size: 1.8rem;
  margin: 0;
}
.entry-eyecache {
  margin-top: 20px;
}
.entry-eyecache img {
  width: 100%;
}
.entry-content {
  padding: 20px 0;
}
.entry-content h2 {
  margin: 50px 0 16px;
  font-size: 1.5rem;
  padding: .4em .6em;
  background-color: #f5f5f5;
  border-left: 8px solid #333;
}
.entry-content .gym-content__title {
  margin-top: 0;
  position: sticky;
  top: 0;
  z-index: 10;
}
.gym-content {
  counter-increment: rank;
  .gym-content__title {
    &:before {
      content: counter(rank) "位. ";
    }
  }
}
.no-ranking .gym-content .gym-content__title:before {
  content: none;
}
.entry-content h3 {
  padding: .4em .6em;
  background: #f5f5f5;
  margin: 46px 0 16px;
  font-size: 1.2rem;
}
.entry-content h4 {
  margin: 42px 0 16px;
  font-size: 1.1rem;
  padding-left: 14px;
  border-left: 6px solid #333;
}
.entry-content h4 {
  margin: 36px 0 16px;
}
.entry-content p {
  margin: 0 0 1em;
  color: #333;
}
.entry-content img {
  max-width: 100%;
  height: auto;
}
.entry-content table {
  width: 100%;
  margin-bottom: 1.5em;
  border: 2px solid #eee;
}
.entry-content tr:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.entry-content th {
    padding: 7px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
}
.entry-content td {
    padding: 7px;
    border-right: 1px solid #eee;
}
.entry-content td:last-child {
    border-right: 0;
}

.entry-content dd {
    margin-bottom: 1.5em;
    margin-left: 0;
    color: #787878;
    font-size: .9em;
}
.entry-content dd {
    margin-bottom: 1.5em;
    margin-left: 0;
    color: #787878;
    font-size: .9em;
}
.entry-content .hit-count {
  color: #666;
}
.entry-content blockquote {
  background-color: #f0f0f0;
  position: relative;
  z-index: 1;
  margin: 1em 0 1em;
  padding: 2em;
}
.entry-content blockquote:before {
  font-family: 'Georgia',sans-serif;
  content: '“';
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 70px;
  line-height: 1;
  z-index: -1;
  color: #fff;
}
.entry-content blockquote p:last-child {
	margin-bottom: 0;
}
#toc_container {
	padding: 20px;
	width: 100% !important;
	border-color: #eee;
}
#toc_container.no_bullets .toc_list li {
	margin-bottom: 6px;
	font-size: .9rem;
}
.calc-box {
	border: 2px solid #d6706f;
	background-color: #fff8f8;
	padding: 16px;
	margin: 2.4rem 0 20px;
	position: relative;
}
.calc-box p:last-child {
  margin-bottom: 0;
}
.entry-content .calc-box__title {
  position: absolute;
	margin: 0;
	bottom: 100%;
	background-color: #d6706f;
	padding: 2px 8px;
	left: -2px;
	color: #fff;
	font-size: 14px;
}
.introduce-trainer {
	background-color: #f9f9f9;
	padding: 20px;
	text-align: center;
	margin-top: 40px;
}
/* pickup gym this area */
.pickup-gym-this-area {
  margin-bottom: 40px;
}
.pickup-gym-this-area__item {
  padding: 18px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
/* entry-bottom */
.near-studio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.near-studio a {
  color: #333;
}
.near-studio__item {
  width: 49%;
  margin-bottom: 20px;
}
.near-studio__thumb img {
  width: 100%;
  vertical-align: bottom;
}
.near-sudio__title {
  font-size: .9rem;
  margin: 4px 0;
}
.entry-footer h3 {
  padding: .8em .6em;
  background: #f5f5f5;
  font-size: 1.2rem;
}
.area-article {
  margin-bottom: 40px;
}
/**
 * 前テーマから引き継ぎ
 */
.gym-content {
  padding: 30px 0;
  border-bottom: 10px solid #f0f0f0;
  margin-bottom: 20px;
}
.gym-content--duplication {
  .gym-common-data {
    display: none;
  }
}
.gym-content__thumb {
  margin-bottom: 1em;
}
.entry-content .gym-content__text-same {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e62424;
}
.entry-content .gym-content__link {
    position: relative;
    margin: 1.8em 0 1em;
    padding: 0.5em 1em;
    border: solid 3px #999;
    background-color: #f9f9f9;
}
.entry-content .gym-content__link:before {
    content: "LINK";
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 1px 10px 0;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 14px;
    background: #999;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}
.entry-content .moushikomi-ohayameni {
  margin-bottom: 4px;
  font-size: .8rem;
  color: #a10f0f;
  text-align: center;
}
.entry-content .gym-content__btn {
  text-align: center;
}
.entry-content .gym-content__btn a {
  display: inline-block;
  background-color: #d44545;
  background-image: $gradation;
  padding: 12px 34px 12px 20px;
  color: #fff;
  border-radius: 4px;
  font-size: 1.1rem;
  text-decoration: none;
  position: relative;
  min-width: 300px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.entry-content .gym-content__btn a:hover {
  background-color: #b92b2b;
  background-image: $hover_gradation;
}
.gym-content__btn a:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  border: 4px solid transparent;
  border-left: 6px solid rgba(255,255,255,.2);
}
.gym-content__desc-list dt {
  font-weight: bold;
  padding: 4px 4px 4px 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.gym-content__desc-list dd {
  color: #333;
  font-size: 1rem;
  padding-left: 2em;
}

/* ジム情報テーブル */
.gym-table-wrap {
  width: 100%;
  overflow-x: auto;
}
.gym-table {
  width: 100%;
}
.gym-table td {
  padding: 6px 4px;
  font-size: .9rem;
}
.gym-table .gym-table__td-1 {
  width: 7em;
  font-weight: bold;
  text-align: center;
  background-color: #f9f9f9;
}
/* 詳細へのリンクボタン */
.gym-content__detail {
  text-align: center;
  font-size: .9rem;
}
/* */
.list-title {
  border: 2px solid #bd2928;
  background-color: #fff8f8;
  padding: 20px 14px 12px 30px;
  position: relative;
  margin: 40px 0 1em;
  &:before {
    content: attr(title);
    position: absolute;
    left: -2px;
    bottom: 100%;
    background-color: #bd2928;
    display: inline-block;
    padding: 1px 10px;
    font-size: .8rem;
    color: #fff;
  }
  &--studio {
    border: 2px solid #ddd;
    background-color: #f5f5f5;
    &:before {
      background-color: #ddd;
      color: #333;
      font-size: 1rem;
    }
  }
  
  li {
    margin-bottom: 12px;
  }
}

/* 対応しているサービス */
.service__list {
  padding: 0;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.service__item {
  background-color: #fbf0d8;
  color: #50360d;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 6px 6px 0;
  font-size: .9rem;
}
.service__item--osusume {
  color: #fff;
  background-color: #c02b21;
}
.service__item--woman {
  color: #75223d;
  background-color: #fbd8e3;
}
.service__item--woman-osusume {
  color: #75223d;
  background-color: #ffeff4;
}
.gmap-wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
 
.gmap-wrap iframe,
.gmap-wrap object,
.gmap-wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 店舗一覧 */
.gym-region {
  margin-bottom: 40px;
}
.gym-region__list {
  list-style: none;
  padding: 0;
}
.gym-region__item {
  display: inline-block;
  margin: 0 10px 10px 0;
}
.gym-region__item a {
  color: #666;
}
/* シェアボタン */
.share-area {
  background-color: #f9f9f9;
  padding: 20px 16px;
}
.share-area__buttom {
  margin: 0 0 40px;
}
.share-buttons__text {
  text-align: center;
  font-size: .8rem;
  color: #666;
}
.share-btn__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.share-btn__item {
  display: inline-block;
  width: 32%;
  a {
    display: block;
    color: #fff;
    background-color: #666;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    &:hover {
      opacity: .8;
    }
  }
}
.share-btn__item--tw {
  a {
    background-color: #32A8F4;
  }
}
.share-btn__item--fb {
  a {
    background-color: #3B539A;
  }
}
.share-btn__item--hatebu {
  a {
    background-color: #00A3E2;
  }
}
@media (max-width: 600px) {
  .share-btn__item {
    font-size: .8rem;
  }
}

@media (max-width: 500px) {
  .share-btn__item {
    width: 100%;
    margin-bottom: 6px;
    font-size: 1rem;
    a {
      height: 40px;
      line-height: 40px;
    }
  }
}
/* サイトマップ */
.sitemap__list {
  font-size: 1rem;
}
.sitemap__item {
  margin-bottom: 6px;
}
.sitemap__item--gym {
  font-weight: bold;
}
.sitemap__list-child {
  font-size: .9rem;
  margin-top: 6px;
}
.sitemap__item-child {
  font-weight: normal;
}
/* クチコミ */
.studio-kuchikomi {
  margin-bottom: 20px;
}
.comment-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.comment-form p,
.comment-form div {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}

.comment-form input[type='text'],
.comment-form textarea,
.comment-form select {
  border: 2px solid #ddd;
  background-color: #fff;
  color: #333;
  width: 100%;
  max-width: 500px;
  padding: 6px 4px;
  border-radius: 0;
  -webkit-appearance: none;
}
.comment-form select {
  height: 34px;
}
.comment-form label {
  display: block;
}
.comment-notes-after {
  width: 100%;
  order: 20;
  font-size: .9rem;
  color: #666;
}
.form-submit .submit {
  width: 200px;
  height: 34px;
  color: #fff;
  background-color: #d05858;
  background-image: linear-gradient(0deg, #9f1616, #bd2929);
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.comment-form-star__text {
  margin-bottom: 2px;
}
.comment-notes {
  order: 1;
  display: none;
}
.comment-form-star {
  order: 2;
}
.comment-form-author {
  order: 3;
}
.comment-form-comment {
  order: 4;
}
.form-submit {
  order: 10;
}
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  padding:0 4px;
  color: gray;
  cursor: pointer;
  font-size: 32px;
  line-height: 1;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #eca41c;
}
.commentlist {
  list-style: none;
  padding: 0;
}
.commentlist .comment {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.comment .says {
  display: none;
}
.comment-author p {
  margin: 0 0 6px;
}
.author-name {
  font-weight: bold;
}
.author-sex {
  font-size: .9rem;
  color: #666;
}
.comment-meta a {
  color: #999;
  font-size: .8rem;
  text-decoration: none;
}
.comment .reply {
  display: none;
}

.gym-rating-area {
  margin-bottom: 60px;
}
.author-star {
  color: #eca41c;
}
.star-num-1 span:nth-child(n+2){
  color: #eee;
}
.star-num-2 span:nth-child(n+3){
  color: #eee;
}
.star-num-3 span:nth-child(n+4){
  color: #eee;
}
.star-num-4 span:nth-child(n+5){
  color: #eee;
}
.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #eca41c;
}
.star-rating-back {
  color: #ccc;
}
// コメント一覧
.reviewer-comments {
  margin-bottom: 40px;
}
.review-comment__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.review-comment__item {
  border-bottom: 1px solid #eee;
  padding: 16px 0;
  &:last-child {
    border: none;
  }
}
.reviewer_name {
  margin: 0 0 .4em;
}
.comment_date {
  font-size: .8rem;
  color: #888;
  margin: 0;
}
.comment-text {
  margin-bottom: 0;
  dt {
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: .8em;
  }
  dd {
    margin-left: 2em;
  }
}
.cash-back-link {
  text-align: center;
  a {
    display: inline-block;
    background-color: #bd5a29;
    text-decoration: none;
    color: #fff;
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    padding: 12px;
    position: relative;
    &:hover {
      background-color: #8c3c15;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255,.1);
    }
  }
}
/**
 * 詳細検索ページ
 */
.search-details {
  margin-bottom: 40px;
  &__label {
    display: inline-block;
    margin: 0 2px 6px 0;
    padding: 4px 8px;
    background-color: #f0f0f0;
    font-size: .94rem;
  }
}
.select-details {
  margin-bottom: 20px;
  &__label {
    display: inline-block;
    margin: 0 2px 6px 0;
    padding: 4px 8px;
    background-color: #f0f0f0;
    font-size: .94rem;
  }
  h4 {
    margin: .8em 0 .4em;
  }
  p {
    margin: 0 0 .8em;
  }
}
.select-details__title {
  margin: 50px 0 16px;
  font-size: 1.4rem;
  padding: .2em .6em;
  background-color: #f7f7f7;
  border-left: 8px solid #333;
}
.area__title {
  padding: .1em .6em;
  border-left: 6px solid #333;
  margin: 46px 0 16px;
  font-size: 1.2rem;
}
.select-details__label {
  display: inline-block;
  margin: 0 2px 6px 0;
  padding: 4px 8px;
  background-color: #f0f0f0;
  font-size: .94rem;
}
.select-details__checkbox{
  margin-right: 4px;
  vertical-align: middle;
}
.search-details__submit-wrap {
  position: sticky;
  bottom: 0;
  padding: 16px 0;
  background-color: rgba(255,255,255,.9);
}
.search-details__submit {
  width: 140px;
  height: 40px;
  color: #fff;
  background-color: #d05858;
  background-image: $gradation;
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
  font-size: 1.2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.error-msg {
  font-size: 1.1rem;
  color: #ff0000;
  font-weight: bold;
}
.selected-options {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fafafa;
}
.selected-area {
  display: inline-block;
  padding: 0 8px;
  background-color: #eee;
  margin-right: 4px;
}
.re-search {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: rgba(0,0,0,.8);
  text-align: center;
  a {
    background-color: $pink;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 1rem;
    &:hover {
      opacity: .8;
    }
  }
}

@media (max-width: 1100px) {
  /* PC small */
  .main {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
  .home-top-inner {
    // background-position: center center;
  }
  .home-top-box {
    width: 94%;
    margin-left: 3%;
    background-color: rgba(255,255,255,.8);
  }
  .recommend-gym-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .recommend-gym {
    width: 49%;
  }
  .recommend-gym__detail a {
    font-size: .8rem;
  }
  .entry-footer .widget--recommend {
    display: none;
  }
}
@media (max-width: 768px) {
  /* tablet */
  .wrapper-inner {
    width: 100%;
    margin-top: 0;
  }
  .home-top-box__title {
    font-size: 1.1rem;
  }
  .widget--toppage-upper {
    padding: 20px;
  }
  .main-inner {
    padding: 40px 20px 20px;
  }
  .entries-article__title {
    margin-top: 10px;
  }
  .entry-title {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .entry-content h2 {
    font-size: 1.4rem;
  }
  .recommend-gym__detail a:after {
    display: none;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 96%;
  }
  .main-inner {
    padding: 40px 16px 16px;
  }
  /* smartphone */
  .home-top-box {
    padding: 32px 24px;
  }
  .home-top-inner {
    width: 100%;
  }
  .gym-content {
    padding: 24px 0;
    .gym-content__title {
      font-size: 1.3rem;
      line-height: 1.4;
    }
  }
  .gym-table .gym-table__td-1 {
    font-size: .8rem;
  }
  .area-nav-child__list {
    padding: 10px 0 0 0;
  }
  .entries-article {
    width: 100%;
  }
  .sidebar {
    .widget {
      padding: 16px;
    }
  }
  .recommend-gym {
    width: 100%;
  }
  .service__item {
    font-size: .9rem;
    padding: 0 8px;
    height: auto;
    line-height: 1.6rem;
  }
}